@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply mb-20 pt-4 overflow-y-auto;
  }
}
/* @media (display-mode: standalone) {
  body {
    margin: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
  }
} */

@media (display-mode: standalone) {
  .safe-bottom {
    margin-bottom: env(safe-area-inset-bottom, 1.5em) !important;
  }
}

/* stop copy */
button {
  user-select: none;
  -webkit-user-select: none;
}

.card {
  @apply border-black border-4 rounded-md p-2;
}
