@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply mb-24 px-4;
  }

  .button-container {
    @apply flex fixed left-0 bottom-6 gap-4 px-6 w-screen;
  }

  .card {
    @apply border-black border-4 rounded-md p-2;
  }
}

@layer utilities {
  .truncate-text {
    @apply overflow-hidden whitespace-nowrap text-ellipsis;
  }
}

/* @media (display-mode: standalone) {
  body {
    margin: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
  }
} */

@media (display-mode: standalone) {
  .safe-bottom {
    margin-bottom: env(safe-area-inset-bottom, 1.5em) !important;
  }
}

/* stop copy */
button {
  user-select: none;
  -webkit-user-select: none;
}

.menu {
  padding: 0;
}
